@model ProjectsIndexVM


<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

    @foreach (var item in Model.ProjectList)
    {
    <p>
        <a asp-controller="Projects" asp-action="Info" asp-route-id="@item.Id">@item.ProjectName</a>
    </p> 
    }



    <input type="button" id="newProjectButton" value="New Project" />
</body>
</html>
