@model ProjectsIndexVM


<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

    @foreach (var item in Model.ProjectList)
    {
    <p>
        @item.ProjectName
    </p>
    }



    <input type="button" id="newProjectButton" value="New Project" />
</body>
</html>
