@model ProjectsIndexVM


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />

    <title></title>
</head>
<body>

    @foreach (var item in Model.ProjectList)
    {
    <p>
        <a asp-controller="Projects" asp-action="Info" asp-route-id="@item.Id"><input type="button" value="@item.ProjectName" /></a>
    </p> 
    }
    
        <a asp-controller="Projects" asp-action="Create" value="New Project"><input type="button" id="newPB" value="New Project"/></a>
   
</body>
</html>
